@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript">$(document).ready(function () {
        
    
    })</script>
    }

    <div class="text-center">
        <h1 class="display-4">Tips And Slips</h1>
        <p>Coming Soon. Collaboration for like minded sports multi punters.</p>
        <p>
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar" >
                        <input class="search_input" type="text" name="search" id="search" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>                    
                </div>
            </div>
        </p>
        <p>
            <div class="container h-100 results">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar" id="results-bar">
                    </div>                    
                </div>
            </div>
            <div class="container h-100 loader">
                <div class="d-flex justify-content-center h-100">                    
                    <div class="searchbar">
                        <img src="~/images/07-loader.gif" class="loader" width="100px" height='100px' />
                    </div>
                </div>
            </div>

        </p>
    </div>
    

