<publishData><publishProfile profileName="TipsAndSlips - Web Deploy" publishMethod="MSDeploy" publishUrl="tipsandslips.scm.azurewebsites.net:443" msdeploySite="TipsAndSlips" userName="$TipsAndSlips" userPWD="7YvxoLx4fn1BwpNlqMJ2qwP9TYtpPge7QrexxiMtkHqaXQxZ1oZcRgbSFyKs"
destinationAppUrl="http://tipsandslips.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile>
<publishProfile profileName="TipsAndSlips - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-ml1-025.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="TipsAndSlips\$TipsAndSlips" userPWD="7YvxoLx4fn1BwpNlqMJ2qwP9TYtpPge7QrexxiMtkHqaXQxZ1oZcRgbSFyKs"
destinationAppUrl="http://tipsandslips.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile
profileName="TipsAndSlips - ReadOnly - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-ml1-025dr.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="TipsAndSlips\$TipsAndSlips" userPWD="7YvxoLx4fn1BwpNlqMJ2qwP9TYtpPge7QrexxiMtkHqaXQxZ1oZcRgbSFyKs"
destinationAppUrl="http://tipsandslips.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>

